body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;

}

img {
  text-align: center;
}

figure {
  text-align: center;
}

#featured-property p {
  float: left; 
  text-align: center;
  width: 900px;
}

#details {
  display: block;
}

#details div {
  float: left;
  width: 25%;
  background-color: red;
  text-align: center;
}
